@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
    --color: rgb(27, 27, 27);
    --color-contrast: white;
    --color-contrast-dark: rgb(201, 201, 201);
    --color-text: rgb(19, 19, 19);
    --color-text-light: rgb(61, 61, 61);
    --color-accent: rgb(221, 82, 82);
}

body{
    margin: 0;
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(background.png);
    font-family: 'Open Sans', sans-serif;
}

.logo-img{
    max-width: 40%;
    float: left;
    margin: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    height: 20rem;
}

footer{
    position: relative;
    left: 0;
    width: 100%;
    height: 12rem;
    background: var(--color);
    text-align: center;
    
}

footer > a{
    color: var(--color-contrast);
    text-decoration: none;
}

.nav{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
    border-radius: 0;
    width: 100%;
    background: var(--color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.body-container{
    margin-top: 1rem;
    width: 80%;
}

.left-content{
    height: 100%;
    width: 75%;
    float: left;
    min-height: 48rem;
    background: var(--color);
    border-bottom: 1rem solid var(--color);
    border-top: 1rem solid var(--color);
    text-align: justify;
}

.content{
    width: 100%;
    height: 32rem;
    overflow: hidden;
}

.image-slider{
    width: 400%;
    height: 100%;
    left: 0;
    animation: 20s slider infinite;
    display: flex;
}

li > p{
    text-align: left;
}

@keyframes slider {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-25%); }
    45% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    70% { transform: translateX(-50%); }
    75% { transform: translateX(-75%); }
    95% { transform: translateX(-75%); }
    100% { transform: translateX(0); }
}

.image-slider > img{
    object-fit: contain;
    height: 100%;
    width: 25%;
    z-index: 1;
}

.placeholder{
    width: 2%;
}
.right-content{
    background: var(--color);
    width: 23%;
    border-radius: 5px;
    float:right;
    border-bottom: 1rem solid var(--color-accent);
    border-top: 1rem solid var(--color-accent);
}

.right-content .contact-photo{
    width: 80%;
    margin: 10%;
    border-radius: 50%;
    border: 2px solid var(--color-contrast);
}

h1,p{
    margin: 1rem;
}

.left-content > h1,.left-content > p{
    margin: 2rem;
}

h1{
    font-size: 1.5rem;
    color: var(--color-accent);
}

p{
    color: var(--color-contrast-dark);
    line-height: 1.5;
}

.links{
    display: none;
    padding: 0;
}

.link{
    height: 5rem;
    list-style-type: none;
}
.link > a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-contrast);
    font-size: 3rem;
}

.menu-display{
    top: 0;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
}

.menu-icon{
    width: 5rem;;
    height: 0.7rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all 400ms ease-in-out;
}

.menu-icon::before,
.menu-icon::after{
    content: "";
    position: absolute;
    width: 5rem;
    height: 0.7rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all 400ms ease-in-out;
}

.menu-icon::before{
    transform: translateY(-1.4rem);
}
.menu-icon::after{
    transform: translateY(1.4rem);
}

.menu-display > .close-svg{
    display: none;
    fill: var(--color);
    height: 60%;
    width: 60%;
}

@media screen and (min-width: 1024px){
    .nav{
        left: 0;
        right: 0;
        top: 0;
        height: 4rem;
        border-radius: 0;
        width: 100%;
    }
    .links{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
    .link{
        min-width: 8rem;
        height: 100%;
        display: flex;
        margin-left: 3rem;
        justify-content: center;
        align-items: center;
    }
    .link > a{
        font-size: 2rem;
    }
    .menu-display{
        display: none;
    }
    .left-content{
        border-radius: 5px;
    }
    .logo{
        font-family: 'Indie Flower', cursive;
        font-weight: 800;
        color: var(--color-accent);
    }
    footer{
        margin-top: 5rem;
        
    }
}

.page-title{
    color: white;
    font-size: 4rem;
    text-align: center;
}



@media screen and (max-width: 1024px){
    body{
        margin: 0;
        margin-top: 8rem;
        padding: 0;
        font-size: 2rem;
    }

    h1{
        font-size: 4rem;
        text-align: left;
    }

    p{
        color: var(--color);
        filter: brightness(110%);
    }

    .nav{
        justify-content: flex-end;
        align-items: center;
        height: 8rem;
        transition: 200ms;
        opacity: 80%;
    }

    .nav > .links > .link{
        display: none;
    }

    .logo-img{
        display: none;
    }

    .page-title{
        color: black;
    }

    .nav > .links > .link:first-child{
        display: block;
        font-family: 'Indie Flower', cursive;
        height: 100%;
    }


    .body-container{
        position: relative;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }

    .show{
        position: fixed;
        height: 100%;
        width: 100%;
        opacity: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        left: 0;
        background: var(--color);
        height: 100%;
        width: 100%;
    }

    .show > .links > .link{
        display: block;
    }

    .show > .links > .link:first-child{
        display: none;
    }

    .show > .menu-display{
        position: absolute;
    }

    .show > .menu-display > .menu-icon{
        transform: translateX(-100%);
        background: transparent;
        box-shadow: none;
    }

    .show > .menu-display > .menu-icon::before{
        transform:translateX(5rem) rotate(45deg);
    }

    .show .menu-display .menu-icon::after{
        transform:translateX(5rem) rotate(-45deg);
    }

    .right-content{
        display: none;
    }
    .placeholder{
        display: none;
    }
    .left-content{
        border: none;
        width: 100%;
        background: var(--color-contrast);
    }
    footer{
        background: var(--color-contrast-dark);
        margin-top: 0;
    }
}

